* {
  box-sizing: border-box;
}

body {
  background: #010202;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.user-photo {
  width: 40px;
  height: 40 px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
}

.user-name {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-right: 15px;
}

.app {
  background: linear-gradient(
    90deg,
    #010202 0%,
    #010202 43%,
    rgba(1, 2, 2, 0.2) 90%
  );
  min-height: 100vh;
  color: white;
}

.film {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 7% 0;
  height: calc(100vh-264px);
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: 0.4;
  color: #e5e5e5;
  font-size: 16px;
  line-height: 140%;
  flex-wrap: wrap;
}

.tags > * {
  margin-right: 15px;
  margin-bottom: 10px;
}

.age {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 1px 5px;
}

.description {
  max-width: 460px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 36px;
}

.button {
  padding: 11px 26px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  line-height: 140%;
  background: #2f2f2f;
  color: white;
  cursor: pointer;
}

.button-primary {
  background-color: #ea6e20;
  margin-right: 15px;
}

.button-text {
  margin-left: 10px;
  vertical-align: text-bottom;
}

#modal {
  width: 432px;
  padding: 10px 20px;
  border-radius: 6px;
  border: 4px solid #ea6e20;
  border-width: 2px;
  background-color: #2f2f2f;
  color: white;
}

.text-primary {
  margin-right: 5px;
}

.sub-button {
  display: block;
  width: 300px;
  height: 50px;
  border-radius: 6px;
  background-color: #ea6e20;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .app {
    height: auto;
    padding-bottom: 570px;
    background-position: bottom center;
    /* size-image=70% more stretch */
    background: url(../img/cover-image.jpg) no-repeat bottom center / 70%;
  }

  video {
    display: none;
  }
  /* i want place block filmElem witout film-logoElem on center*/
  .tags,
  .description,
  .button-group {
    width: 410px;
    margin: auto;
    margin-bottom: 18px;
  }
  /* end place block film witout film-logo on center*/

  .film {
    padding-top: 2%;
  }

  .description {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .film-logo {
    width: 100%;
  }
}
/* background image move smoter   */
@media (max-width: 690px) {
  .app {
    padding-bottom: 550px;
    background-size: 500px;
  }
}
/* end my comment  */

@media (max-width: 576px) {
  .tags,
  .description,
  .button-group {
    width: auto;
  }

  .button {
    margin-bottom: 10px;
  }

  .button-text {
    display: none;
  }

  .user-name {
    display: none;
  }

  .app {
    padding-bottom: 320px;
    background-size: 300px;
  }
}
